<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/studyChap16/src/sec11/stream_collect/GroupingAndReductionExample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sec11.stream_collect.GroupingAndReductionExample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="studyChap16"/>
</launchConfiguration>
